body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  /* 이런식으로 font-family 추가해야함, 앞에꺼먼저 인식하고 점차 뒤로 따옴표는 띄어쓰기 있는 폰트에서 씀 */
  /* height: 6000px; */
  /* 스크롤 만드려고 잠깐 */
}

/* img 태그는 인라인 요소라 베이스라인(문자의 기준선)이 존재 / 이걸 인라인->블럭요소로 변경해 없애줘야함 */
img {
  display: block;
}

a {
  text-decoration: none;
}

/* width 지정하고 margin : 0 autu; 하면 확대하면 왼쪽에 고정 축소하면 가운데 정렬*/
/* height 지정하고 margin : autu 0; 하면 확대하면 위쪽에 고정 축소하면 가운데 정렬*/
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* btn 클래스 만들어놔서 다른곳에서도 공통사용 가능 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse:hover {
  color: #333;
  background-color: transparent;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* HEADER */
header {
  width: 100%;
  /* position:fixed때문에 가로넓이 최소한으로 주려드려고 해서 w:auto 해도 자동정렬 안됨 */
  /* 그래서 width:100%사용해야함 */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* position: relative; */
  /* header .badges 의 부모요소라 추가 */
  position: fixed;
  top: 0;
  z-index: 9;
  /* 헤더는 가리면 안됨, 뱃지도 위에 배치시키려고 */
}

/* 사용하는 공간에 따라 inner 높이 지정 */
header>.inner {
  height: 120px;
}

header .logo {
  /* 배치로 정렬을 하기 위해선 1. 크기값 지정(weight / height) 2. position 지정(absolute와 부모엔 relative) 3. 시작점 끝점 지정(top:0 bottom:0 left:0 right:0 등) 4. margin으로 가운데 정렬 */
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  /* 서브메뉴들은 Arial 폰트가 더 이쁨 */
  display: flex;
  /* 수평정렬 하기 위해 display: flex*/
}

header .sub-menu ul.menu li {
  position: relative;
  /* 구분선의 부모라 position: relative */
}

/* 가상요소 선택자 */
header .sub-menu ul.menu li::before {
  content: "";
  /* 필수 요소 */

  /* display: block; */
  /* 인라인요소는 가로세로 값을 가질 수 없어서 블럭요소로 변경 */
  /* position: absolute/fixed가 있으면 블럭요소로 변경되서 주석처리 가능 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  /* 구분선을 사이에 넣기위해 부모기준 position: absolute <- 이건 요소를 블럭요소로 변경해줌 그래서 display:block 주석처리 해도 가능*/
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Sign In의 첫번째 구분선을 없애주기 위해 first-child 사용 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 13px;
  padding: 11px 16px;
  /* 링크 주변을 눌러도 작동할 수 있게 padding 추가 */
  display: block;
  /* a태그는 인라인요소라 크기지정 불가 -> 블럭요소로 변경 */
  color: #656565;
  /* text-decoration: none; */
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

/* search부분은 블럭요소, menu도 블럭요소 두개의 블럭을 수평정렬해줘야함 그래서 sub-menu에 display:flex 추가*/
header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 36px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* 블록요소라 크기지정 가능, 테두리값 다 계산되서 컨탠츠값 자동줄어드는 border-box 사용 */

  outline: none;
  /* 선택시 테두리 알려주는걸 없애줌 */
  background-color: #fff;
  /* 확실한 화이트로 배경을 만들어주기 위해 */
  color: #777;
  font-size: 12px;
  transition: width .4s;
  /* 클릭되면 폭만 0.4초로 변환 */
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #690;
}

header .sub-menu .search .material-icons {
  height: 24px;
  /* 아이콘의 폰트크기와 동일한 24px */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

/* JS에서 input + icon 포커스 됐을 때 추가된 클래스 focused에 관한 동작 */
/* 포커스 됐을 때 아이콘 투명하게 사라지게함 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  /* z-index로 순서 높여서 커서 올렸을때 위로오게함 */
}

header .main-menu .item {}


header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  /* inner 안에서 뜨는게 아니라 뷰표트 전체에 뜨게 함 */
  /* top bottom 속성을 사용하지 않아 수직위치 없으면 원래위치 사용 */
  left: 0;
  display: none;
  /* 메뉴창들이 hover됐을 때만 보여주기 위해 */
}

header .main-menu .item:hover .item__contents {
  display: block;
  /* 메뉴창들이 hover됐을 때만 보여주기 위해 */
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

/* header .main-menu .item .item__contents .contents__menu>ul>li ul {} */

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #690;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  /* header.inner의 높이가 120px이라 margin-top 120px */
  background-image: url("../images/visual_bg.jpg");
  background-position: center;

}

/* common에서 적용된 inner 속성들이 상속되어서 사용됨 */
.visual .inner {
  height: 646px;
}

/* 중복된, 감싸주는 역할인 선택자는 생략 ex) inner*/
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

/* 부모요소는 .visual .title 부모로 묶어놔서 옮겨도 같이 배치됨 */
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

/* 투명도0에서 점점 나타나게 만듬 - faid-in */
.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {}

.notice .notice-line {
  position: relative;
}

/* 상위에서 쪼개는건 50% + 50% 로 쪼개고 */
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

/* 여기서 height만 조절하면 나머진 다 100% + absolute때문에 적용됨 */
.notice .notice-line .inner {
  height: 62px;
  display: flex;
  /* 아래의 inner__right left를 수평정렬하기 위해 */
}

/* 하위 inner__Right Left에서 60% 40%로 덮어씌움 */
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  /* 공지사항 가운데정렬하면서 swiper-container 사라짐 <- height값이 없어서 <- h:62 적용 */
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper.container {
  height: 62px;
  flex-grow: 1;
  /* 최대한 늘어나려고 함, 차지하는 비율만큼 */
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* 오른쪽정렬 */
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  height: 62px;
  width: 62px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
  /* 프로모션 토글버튼 누르면 넘친부분 잘라내고 숨김 */
}

.notice .promotion.hide {
  height: 0;
  /* 프로모션 토글버튼 누르면 넘친부분 잘라내고 숨김 */
}

.notice .promotion .swiper.container {
  width: calc(819px * 3 + 20px);
  /* 819px 이미지 3개와 그사이여백 10px씩 계산 */
  height: 553px;
  /* 확대해도 가운데 정렬될 수 있게 부모기준으로 */
  position: absolute;
  top: 40px;
  /* 왼쪽에서 50%지점에서 시작하게 만들고 */
  left: 50%;
  /* 마진을 그 시작점 크기만큼 -로 빼줌 그러면 확대/축소해도 가운데정렬 */
  margin-left: calc((819px * 3 + 20px) /-2);
}

/* 센터 말고는 투명하게 하고 */
.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

/* 활성화된(1번, active) 슬라이드는 불투명하게 해서 집중 */
.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* 상위 btn에 width 지정되어있어서 가운데 정렬 가능 */
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

/* 슬라이드 동그라미에 배경 이미지 넣고 크기 조절하고 오른쪽 여백 6px*/
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  /* 기본 동그라미에 배경색 있는데 이걸 투명하게 바꿔줌*/
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
  /* 테두리선 없애기, 지금버전에선 기본값이 없는거 같음 */
}

/* 제일 마지막 오른쪽여백 6px 없앰 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

/* 다중선택자, 쉼표로 구분해서 같은 속성들 적용할때 씀 */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  cursor: pointer;
  z-index: 1;
  /* 요소 위로 올리기 위해 씀 */
  outline: none;
  /* 테두리선 없애기, 지금버전에선 기본값이 없는거 같음 */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url('../images/rewards.jpg');
  height: 241px;
  /* position: relative; */
  /* 최상위 inner에서 position값 있어서 안씀 */
}

.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  /* 넘치면 줄바꿈하는거, 버튼은 130px인데 2개하면 260px이라 안넘쳐서 수정 */
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;

}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
  /* e-gift는 최대한의 넓이 사용하기 위해서 flex-grow=1 */

}

.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
  /* 유튜브 영상의 정 가운데를 부모기준으로 잘라서 */
}

.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;

  left: 50%;
  margin-left: calc(1920px / -2);
  /* 가운데 배치하려고 left:50% 하고 margin-left: -1920/2 */
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
  /* 부모요소의 가운데 배치하려고 1920px의 16:9비율(높이)의 절반(-1/2)만큼*/
}

/* 가상으로 잠깐 만듬 */
.youtube .youtube__area::before {
  content: "";
  display: block;
  /* 인라인요소라 가로세로 지정하려고 블록요소로 */
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  /* 이런식으로 부모요소 w:1920에 자식요소 w:100% h:0하면 크기 없지만 padding-top: ~%로 비율지정 가능 56.25%=[16:9 비율] */
}

.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/* .youtube .floating3 {
  position: absolute;
  bottom: -200px;
  right: 0;
} 
overflow:hidden이라 youtube 영역에서 짤리는 그림을 아래 season-product로 옮기면서 주석처리
*/

/* SEASON-PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

/* 위치 바꾸고 이름 바꾸면서(.youtube floating3 -> .season-product .floating3) */
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .inner .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .inner .text-group .title {
  margin-bottom: 10px;
}

.season-product .inner .text-group .description {
  margin-bottom: 15px;
}

.season-product .inner .text-group .more {}

/* RESERVE-COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .inner .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .inner .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .inner .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK-YOUR-FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* 배경 스크롤 고정 */
  /* background-attachment:fixed로 간단한 애니메이션 구현 가능, 배경은 그대로 나머지 글씨나 다른요소들은 스크롤따라 움직이게 */
  background-size: cover;
  /* 배경 요소의 더 넓은 범위를 기준으로 */
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .inner .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pick-your-favorite .inner .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .inner .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE-STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}

/* 다중선택자 */
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 344px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}

.reserve-store .medal .front {
  /* position: absolute;
  다중선택자에 넣으면서 주석처리 */
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  /* position: absolute;  btn때문에 부모 요소에 넣었지만
  다중선택자에 넣어도 될듯*/
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}